/*If size is less than 817px*/
@media all and (max-width: 817px) {
    /*Navigation bar*/
    #navi {
        border-bottom:0.1em solid black;
    }
    
    /*Gameboards td*/
    .GBTD {
      width:4em;
      height:4em; 
      font-size:1em;
    }
    
    /*Logo in front page*/
    #bigText {
        font-size:4em;
    }
    
    .buttons {
        font-size:1.5em;
        width: 13em;
    }
    
    .loginBut {
        font-size:1em;
        margin-top:0.4em;
    }

    .loginFo {
        font-size:1em;
        margin: 0 auto;
        display: block;
        border:0.1em solid black;
    }
    /*Link to front page*/
    ul li a{
        font-size: 2.5em;
    }
    .login{
        display: block;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        text-align: center;
    }
    /*Row 1 in leaderboar table*/
    .r1 {
        width: 4em;
    }
    
    /*Row 2 in leaderboar table*/
    .r2 {
        width: 20em;
    }
    
    /*Row 3 in leaderboar table*/
    .r3 {
        width: 4em;
    }
    
    .lbt {
        font-size: 0.45em;
    }
    
    #wea {
        font-size:1.5em;
    }
}



/*If size is more than 818px*/
@media all and (min-width: 818px) {
    /*Navigation bar*/
   #navi {
        border-bottom:0.1em solid black;
        position: fixed;
    } 
    
    /*Gameboards td*/
    .GBTD {
      width:5em;
      height:5em; 
      font-size:2em;
    }
    
    /*Logo in front page*/
    #bigText {
        font-size:7em;

    }
    
    .buttons {
        font-size:2em;
        width: 20em;
    }
    
    .loginBut {
        font-size:1em;
    }

    .loginFo {
        font-size:1em;
        border:0.1em solid black;
    }
    
    /*Link to front page*/
    ul li a{
        font-size: 2em;
        float:left;
    }
    
    .login{
        display: inline;
        float: right;
        margin-left: 0.1em;
        margin-right: 0.5em;
        overflow: hidden;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
    
    /*Row 1 in leaderboar table*/
    .r1 {
        width: 7em;
    }
    
    /*Row 2 in leaderboar table*/
    .r2 {
        width: 25em;
    }
    
    /*Row 3 in leaderboar table*/
    .r3 {
        width: 7em;
    }
    
    #wea {
        font-size:2em;
    }

}

/*Navigation bar*/
#navi {
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        top: 0;
        width: 100%;
        background-color: #85bdf2;
    }
    
    
#error {
    color:red;
    text-decoration: none;
    margin:0.4em;
}
#error2 {
    color:red;
    text-decoration: none;
    margin:0.4em;
    text-align: center;
}

body {
    margin:0;
    padding:0;
    font-family: Arial;
    background-color: #e2edff;
}

table, tr, td {
  border:0.05em solid black;
}

/*Leaderboard table*/
#LBT {

    border-collapse: collapse;
    font-size: 2em;
}

/*Leaderboard table*/
.LBTable {
    border-bottom:0.05em solid black;
    padding: 10em;

}

/*Every second table row is different color*/
.LBTable:nth-child(even) {
    background-color:#b3dbf9;
}

.gameBoard {
    border-collapse:collapse;
    margin: 0 auto;
    background-color: #bcd1e5;
    text-align: center;
    transition-duration: 0.4s;
}


.login{
    margin-left: 0.1em;
    margin-right: 0.5em;
    overflow: hidden;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#dia {
    text-align: center;
    list-style-type: none;
    display:block;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
}

.dlog {
   display: inline;
   padding: 0.0001em;
   margin: 1em;
}

#dialog {
    border-style: solid;
    border-color: black;
    background-color: #bcd6ff;
    text-align: center;
}

.dialog2 {
    border-style: solid;
    border-color: black;
    background-color: #bcd6ff;
    text-align: center;
    width: 50%;
    position: center;
}

/*Link to front page*/
ul li a{
    color: #429ef4;
    text-decoration: none;
}

ul li a:hover{
    color:black;
}

ul li {
    text-align: center;
}

/*Logo in front page*/
#bigText {
    font-family: arial;
    color:#429ef4;
    float:none;
    text-align: center;
}


.buttons {
    overflow: hidden;
    float:none;
    background-color: #429ef4;
    border:solid black;
    transition-duration: 0.4s;
    margin:0.5em;
    padding:1em 1em;
}

.buttons:hover {
    background-color: white;
}


#buttons {
    text-align:center;
    text-decoration: none;
}


.GBTD:hover {
    background-color: #96b2cc;
}

/*Hides close button from dialog*/
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.loginBut {
    background-color: #429ef4;
    border:0.1em solid black;
    transition-duration: 0.4s;
}

.loginFo {
    background-color: white;
}

.loginBut:hover {
    background-color: white;
}

#reg {
    text-decoration: none;
    text-align: center;
}

.regFo {
    background-color: white;
    border:0.1em solid black;
    font-size:1.5em;
    margin-bottom: 1em;
}



.regBut {
    background-color: #429ef4;
    border:0.1em solid black;
    font-size:1.5em;
    transition-duration: 0.4s;
    float:none;
}

.regBut:hover {
    background-color: white;
}

#objective {
    text-align: center;
    font-size: 1.5em;
    color:#429ef4;
}

#nUser {
    color:#429ef4;
    font-size: 2.5em;
}

.dBut {
    background-color: #429ef4;
    border:0.1em solid black;
    font-size:1.5em;
    transition-duration: 0.4s;
    width: 10em;
}

.dBut:hover {
    background-color: white;
}

.gameRes {
    font-size: 2em;
}

#LBTR {
    background-color:#4286f4;
}

#lb {
    text-align: center;
}

#topdf {
    margin-top:0.3em;
    margin-bottom:0.2em;
}

